[Unit]
Description=Airflow scheduler daemon

[Service]
EnvironmentFile="PATH=/home/hadoop/miniconda3/envs/airflow_env/bin"
User=hadoop
#Group=airflow
Type=simple
ExecStart=/home/hadoop/miniconda3/envs/airflow_env/bin/airflow scheduler
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
